.navlink a {
    color: #CFCFCF;
    text-align: center;
    font-family: "Lalazer", sans-serif;
    font-size: 18px;
    font-style: normal;
    padding: 15px;
    font-weight: 700;
    line-height: 100%; /* 20px */
    letter-spacing: -0.3px;
    text-decoration: none;
    transition: color 0.5s;
    /* text-shadow: -1px -1px 12px #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */

    &:hover {
        color: #8b8b8b;
    }
}

.navlink {
    cursor: pointer;
    position: sticky;
    padding: 10px;
    margin: 10px 10px 5px 10px;
    display: inline-block;
}

.navbar {
    width: 100%;
    height: min-content;
    position: fixed;
    z-index: 99;
    text-align: right;
    background-color: #223A52;
    box-shadow: 0px 2px 3px 1px #223A52;
}